/* Settings Button Specific Components */

/* Settings button animation parts */
.bar {
    width: 8px;
    height: 1.5px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
}

.bar::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: rgb(60, 60, 60);
    position: absolute;
    border-radius: 50%;
    border: 1.5px solid white;
    transition: all 0.3s;
    box-shadow: 0px 0px 3px white;
}

.bar1::before {
    transform: translateX(-3px);
}

.bar2::before {
    transform: translateX(3px);
}

.setting-btn:hover .bar1::before {
    transform: translateX(3px);
}

.setting-btn:hover .bar2::before {
    transform: translateX(-3px);
}


