/* Please don't over-engineer variables. Ask me before putting anything here! */
:root {
    /* Grid System */
    --bg-image: none;
    --canvas-bg: #1a1a1a;
    --canvas-dot-color: rgba(255,255,255,0.035);
    --canvas-size: 2000px;
    --grid-size: 60px;
    --grid-element-size: 2000px;
    --grid-spacing: 27px;
    --grid-dot-size: 2px;
    
    /* Toolbar Buttons */
    --toolbar-button-background: #1a1a1a;
    --toolbar-button-background-hover: #2a2a2a;
    --toolbar-button-text-color: #ddd;
    --toolbar-button-save-background: #059669;
    
    /* Category Base */
    --category-base-background: #0a0a0a;
    --category-base-border-radius: 11px;
    --category-base-padding: 14px;
    
    /* Notifications */
    --notification-button-1: #3b82f6; /* Blue notification button color */
}
